<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telphone=no" />
		<script src="../js/jquery-1.11.1.min.js"></script>
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<script src="../js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/wyswx.css" />
		<title>五云山疗养院</title>
	</head>
	<body>
		
		<div class="title" id="theme">
  			<div class="title-name">个人预约</div>
  			<div class="title-left">
     			<a href="javascript:history.go(-1)"><img src="../img/backicon.png" class="myimg"></a>
   			</div>
 			<div class="title-right"></div>
		</div>
		<div class="menuul self-margin">
			<a href="#">
			  <li>
				<img class="menuitemimg" src="../img/lymenu1.png"/>
				<span class="menuitemname">老年疗休养</span>
				<span class="menupackagename">已选套餐一</span>
				<img class="infoactImg" src="../img/infoactIcon.png"/>
			 </li>
			</a>
			<a href="#">
				<li>
				<img class="menuitemimg" src="../img/lymenu2.png"/>
				<span class="menuitemname">职工健康疗休养</span>
				<span class="menupackagename"></span>
				<img class="infoactImg" src="../img/infoactIcon.png"/>
			</li>
			</a>
			<a href="#">
				<li>
				<img class="menuitemimg" src="../img/lymenu3.png"/>
				<span class="menuitemname">肿瘤康复疗休养</span>
				<span class="menupackagename"></span>
				<img class="infoactImg" src="../img/infoactIcon.png"/>
			</li>
			</a>
			<a href="#">
			  <li>
				<img class="menuitemimg" src="../img/lymenu4.png"/>
				<span class="menuitemname">高端健康体检服务</span>
				<span class="menupackagename"></span>
				<img class="infoactImg" src="../img/infoactIcon.png"/>
			</li>
			</a>
			<a href="#">
				<li>
				<img class="menuitemimg" src="../img/lymenu5.png"/>
				<span class="menuitemname">360°健康管理服务</span>
				<span class="menupackagename"></span>
				<img class="infoactImg" src="../img/infoactIcon.png"/>
			</li>
			</a>
			<a href="#">
				<li>
				<img class="menuitemimg" src="../img/lymenu6.png"/>
				<span class="menuitemname">专业会议与宴会服务</span>
				<span class="menupackagename"></span>
				<img class="infoactImg" src="../img/infoactIcon.png"/>
			</li>
			</a>
		</div>
		
		<div class="bot self-margin">
			<button class="botblockBut">预约</button>
			
		</div>
		<br>
	</body>

</html>
